<div class="row">
  <div class="col">
    <input #termino type="text" (keyup)="buscar(termino.value)" class="form-control" placeholder="Buscar Artista">
  </div>
</div>


<app-loading *ngIf="loading" class="m-5"></app-loading>
<app-cards *ngIf="!loading" [items]="artistas" ></app-cards>
